.form-icon {
    position: relative
}

.form-icon .form-control-icon {
    padding-left: 2.7rem;
    position: relative
}

.form-icon i {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 18px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center
}

.form-icon.right .form-control-icon {
    padding-right: 2.7rem;
    padding-left: .9rem;
    position: relative
}

.form-icon.right i {
    left: auto;
    right: 18px
}
.end-15{
    right: 15% !important;
}
.downloads li img{
    height: 40px;
    width: 120px;
}
.language-toggler img{
    height: 20px; 
    margin-right:5px
}